@import '../src/css/src/partials/colors';

:export {
  grey-1: $grey-1;
  grey-2: $grey-2;
  grey-3: $grey-3;
  grey-4: $grey-4;
  grey-5: $grey-5;
  grey-6: $grey-6;
  grey-7: $grey-7;
  grey-8: $grey-8;
  grey-9: $grey-9;
  grey-10: $grey-10;
  grey-11: $grey-11;
  grey-12: $grey-12;
  grey-13: $grey-13;
  grey-14: $grey-14;
  grey-15: $grey-15;
  grey-16: $grey-16;
  grey-17: $grey-17;
  grey-18: $grey-18;
  grey-19: $grey-19;
  grey-20: $grey-20;
  black-1: $black-1;
  black-2: $black-2;
  black-3: $black-3;
  black-4: $black-4;
  black-5: $black-5;
  black-6: $black-6;
  white-1: $white-1;
  green-1: $green-1;
  green-2: $green-2;
  green-3: $green-3;
  green-4: $green-4;
  green-5: $green-5;
  green-6: $green-6;
  light-green-1: $light-green-1;
  light-green-2: $light-green-2;
  yellow-1: $yellow-1;
  yellow-2: $yellow-2;
  red-1: $red-1;
  red-2: $red-2;
  orange-1: $orange-1;
  orange-2: $orange-2;
  orange-3: $orange-3;
  light-orange-1: $light-orange-1;
  blue-1: $blue-1;
  blue-2: $blue-2;
  blue-3: $blue-3;
  blue-4: $blue-4;
  blue-5: $blue-5;
  violet-1: $violet-1;
  dark-1: $dark-1;
}
